<!-- La clase container ya está hecha, es para que a partir de 1024 no se estire más -->
<div class="bloque container">
    <div class="ranking-container">
        <div class="album-item uno">
            <div class="informacion">
                <h2 class="nombre">Taylor Swift</h2>
                <p class="texto">Deserunt aliquip incididunt est fugiat. Dolore consequat tempor ad irure velit veniam laborum commodo et qui. Exercitation ex quis ut eiusmod aliquip excepteur nostrud mollit nostrud ad velit. Do proident excepteur esse officia. Do nulla nulla deserunt pariatur duis Lorem proident est ad anim magna esse pariatur enim. Nulla commodo dolor magna cupidatat et est duis ad minim quis mollit. In qui labore commodo cillum.
                    Velit velit sint adipisicing anim duis cupidatat magna ullamco. Dolor eiusmod dolor do qui enim id occaecat. Proident adipisicing nulla consectetur id ad ad occaecat Lorem excepteur.
                </p>
                <small class="ventas">45.503 - Primero</small>
            </div>
            <img class="img-ranking" src="./img/taylor.jpg" alt="">
        </div>

        <div class="album-item dos">
            <div class="informacion">
                <h2 class="nombre">Ara Malikian</h2>
                <p class="texto">Irure adipisicing est minim eu ad dolor. Eu ea commodo pariatur ut occaecat in cupidatat reprehenderit ut laborum duis. Sunt minim ex fugiat reprehenderit.  Lorem consectetur reprehenderit commodo non
                    Consectetur culpa fugiat ex amet fugiat sunt cupidatat Lorem amet eiusmod magna. Irure magna aute laboris mollit dolor dolore laboris laborum sint fugiat. Laboris voluptate ullamco incididunt do. Consectetur reprehenderit id est culpa laborum dolor eiusmod adipisicing.
                    Nulla aliquip cupidatat voluptate veniam nostrud.
                </p>
                <small class="ventas">38.924 - Segundo</small>
            </div>
            <img class="img-ranking" src="./img/ara.jpg" alt="">
        </div>

        <div class="album-item tres">
            <div class="informacion">
                <h2 class="nombre">Andrew McMahon</h2>
                <p class="texto">Nulla aliquip cupidatat voluptate veniam nostrud aliquip sit enim officia. Sit eu pariatur officia qui dolor adipisicing cupidatat. Sit consectetur et eu ut esse laboris nulla enim sint ipsum.
                    Officia in consectetur enim excepteur sit laborum consectetur incididunt eiusmod reprehenderit. Est incididunt adipisicing et irure cupidatat dolore ullamco ut enim non. Officia incididunt elit esse id sunt irure veniam aliquip labore irure sit sunt amet. Lorem nulla aliquip velit ex dolor ullamco irure irure consectetur. Id consectetur dolore irure ea labore ea exercitation ad. Enim commodo ad laborum.
                </p>
                <small class="ventas">23.703 - Tercero</small>
            </div>
            <img class="img-ranking" src="./img/fire.jpg" alt="">
        </div>
    </div>

    <div class="title-ranking">
        <h1>Álbunes Top ventas</h1>
    </div>
</div>
